{% extends 'base.html.twig' %}

{% block title %}Ошибка{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3>Ошибка</h3>
            <span>{{ text }}</span>
        </div>
    </div>
{% endblock %}
